
# ===================================================
# HAPTIQ BACKUP CONFIGURATION
# Configuration for a site's backup
# ===================================================

SITE_DOMAIN="example.com"
SITE_PATH="/path/to/wp/installation"
RESTIC_REPOSITORY_REMOTE="sftp:remote-storage:/path/to/backup/location/$SITE_DOMAIN"
RESTIC_PASSWORD="add-a-safe-password-here"


# ===================================================
# BACKUP SCHEDULE
# Use basic cron-like syntax
# 
# Examples:
# SCHEDULE="0 * * * *"     # Every hour at minute 0
# SCHEDULE="0 3 * * 0"     # Every Sunday at 3:00 AM 
# SCHEDULE="0 4 1 * *"     # 1st day of every month at 4:00 AM
#
# ===================================================

SCHEDULE="* 2 * * *"
#		  ┬ ┬ ┬ ┬ ┬
#		  │ │ │ │ │
#		  │ │ │ │ └──── Weekday (0-6)
#		  │ │ │ └────── Month (1-12)
#		  │ │ └──────── Day (1-31)
#		  │ └────────── Hour (0-23)
#		  └──────────── Minute (0-59)


# ===================================================
# RETENTION RULES
# Controls how long we keep backups and when they get pruned.
# ===================================================

KEEP_YEARLY=""
# Keeps the last backup for last X years. Default: none

KEEP_MONTHLY=""
# Keeps the last backup for last X months. Default: 3

KEEP_WEEKLY=""
# Keeps the last backup for last X weeks. Default: 4

KEEP_DAILY=""
# Keeps the last backup for last X days. Default: 7

KEEP_HOURLY=""
# Keeps the last backup for last X hours. Default: 24

KEEP_LAST=""
# Keeps the last X backups. Default: 10